<ion-view>
  <ion-content>
    <img class="photo" ng-src="{{fileUri}}">
    <div class="list">
      <label class="item item-input">
        <input ng-model="tags" type="text" placeholder="tags, separated by commas">
      </label>
      <label class="item item-input">
        <input ng-model="info" type="text" placeholder="comments">
      </label>
    <a ui-sref="pics" ng-click="sendPictureWithLocation(fileUri, tags, info)" class="button button-block">Save</a>
    <a ui-sref="home" class="button button-block">Cancel</a>
    </div>
  </ion-content>
</ion-view>
