
  <ion-header-bar class="bar-royal">
    <div class="button-bar">
      <a ui-sref="app.profile" class="button button-icon ion-person"></a>
      <a ui-sref="app.pics" class="button button-icon ion-image"></a>
      <a ui-sref="app.home" class="button button-icon ion-home"></a>
      <a ui-sref="app.newhunt" class="button button-icon ion-plus"></a>
    </div>
  </ion-header-bar>
`
   <ion-nav-view></ion-nav-view>

  <ion-footer-bar class="bar-dark">
    <div class="button-bar">
      <a ui-sref="newphoto" class="button button-icon ion-camera"></a>
    </div>
  </ion-footer-bar>

